MONGODB_URI=mongodb://127.0.0.1:27017/fit-user-service
HTTP_PORT=3000
MS_HOST=localhost
MS_PORT=4001
WORKSPACE_MS_HOST=localhost
WORKSPACE_MS_PORT=4002
INSIGHTS_MS_PORT=localhost
INSIGHTS_MS_PORT=4003
